<% provide(:title, "Welcome") %>

<div class="center jumbotron">
  <h1>Welcome to Executive Education Online</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid, mollitia blanditiis, sit repellat, explicabo ullam iste deserunt ad placeat illum excepturi. Culpa hic sed libero laboriosam, minima illum assumenda.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
