---
http_interactions:
- request:
    method: get
    uri: https://platform.staging.execonline.com/api/v1/user.json
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Partner-Token:
      - IPDsaiKQ8kacqLtKc1DrmA
      X-User-Token:
      - fvgAUzxp4cmAzrLoCnOBCw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22ea86424e12e7719fd9af1d2f1b99d4"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"first_name":"Gilbert ","last_name":"SEWOVOE-EKOUE","avatar_url":"https://stagingassets.execonline.com/assets/wicked_assets/profile/default-0ea2f30ceee187696bb13ca5f6c674e5.png","sf_contact_uid":"0038A000004mnE9QAI"}'
  recorded_at: Fri, 29 Jul 2016 20:54:39 GMT
- request:
    method: get
    uri: https://platform.staging.execonline.com/api/v1/user.json
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Partner-Token:
      - IPDsaiKQ8kacqLtKc1DrmA
      X-User-Token:
      - fvgAUzxp4cmAzrLoCnOBCw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22ea86424e12e7719fd9af1d2f1b99d4"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"first_name":"Gilbert ","last_name":"SEWOVOE-EKOUE","avatar_url":"https://stagingassets.execonline.com/assets/wicked_assets/profile/default-0ea2f30ceee187696bb13ca5f6c674e5.png","sf_contact_uid":"0038A000004mnE9QAI"}'
  recorded_at: Fri, 29 Jul 2016 20:54:49 GMT
recorded_with: VCR 3.0.3
