---
http_interactions:
- request:
    method: get
    uri: https://platform.staging.execonline.com/api/v1/user/courses.json
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Partner-Token:
      - IPDsaiKQ8kacqLtKc1DrmA
      X-User-Token:
      - GxTBDFgK_lRI6_onz76CYw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9ac473850c0ac081f697fc1c00e753a"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":68,"progress":0.0,"current_segment":1225,"current_module":62,"sf_student_uid":"a0F8A000000Gpf2UAC"}]'
  recorded_at: Wed, 03 Aug 2016 17:26:04 GMT
recorded_with: VCR 3.0.3
